[Desktop Entry] 
Version=1.0 
Name=checksumJack
Exec=/usr/bin/checksumJack %F
TryExec=/usr/bin/checksumJack
Icon=checksumJack
Terminal=false
Type=Application
Categories=
MimeType=application/md5;application/sha1;application/sha224;application/sha256;application/sha384;application/sha512;application/ripemd160;application/whirlpool;