[Desktop Entry] 
Version=1.0 
Name=checksumJack
Exec=/usr/bin/checksumJack %F
TryExec=/usr/bin/checksumJack
Icon=checksumJack
Terminal=false
Type=Application
Categories=
MimeType=application/md5;
MimeType=application/sha1;
MimeType=application/sha224;
MimeType=application/sha256;
MimeType=application/sha384;
MimeType=application/sha512;
MimeType=application/ripemd160;
MimeType=application/whirlpool;